.task{
    min-height: 5rem;
    background-color: #fff;
    color: #222222;
    border-radius: 6px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: move;
    /* ; */
}
.buttonWrapper{
    display: flex;
    justify-content: space-between;
}
.buttonWrapper button{
  background-color: rgba(255, 0, 0, 0.719);
}

.status{
    background-color: var(--COLOR-GRAY-LIGHT);
    padding:.2rem 0.5REM;
    border-radius: 18px 0px 8px 0px;
}
.PLANNING{
    background-color: var(--COLOR-ONGOING);
}
.DONE{
    background-color: rgb(4, 221, 4);
}
.ONGOING{
    background-color: rgba(87, 233, 250, 0.504);
}