.App {
 background-color: var(--COLOR-GRAY);
 /* min-height: 100vh; */
 color: #fff;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
 justify-content: center;
}


.AppHeader{
 
display: flex;
 flex-direction: column; 
 font-family: 'Times New Roman', Times, serif;
 text-align: center;
}
.AppHeader h3{
 color: #fff;  
font-size: 3rem;
font-weight: 700;
}
.AppHeader h5{
    margin-top:0px ;
font-size: 1.5rem;
font-weight: 600;
color:gray;
}